@model IEnumerable<ProyectoOwin.Models.Ejemplo>
@using GridMvc.Html
@{
    ViewBag.Title = "Grilla";
}

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>

<h2>Grilla</h2>
<div>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Propiedad1).Titled("Id");
    columns.Add(c => c.Propiedad2).Titled("Nombre");
    if (User.IsInRole("Administracion"))
    {
        columns.Add(c => c.Propiedad3).Titled("Año");
    }
    columns.Add()
    .Encoded(false)
    .RenderValueAs(o => Html.CheckBox("checked", false));
}).WithPaging(10)
</div>


